.mainPage {
  background-color: black;
}

h1 {
  color: orange;
  text-align: center;
  font-size: 75px;
  margin-bottom: 5px;
}

h2 {
  color: orange;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
}
section {
  color: black;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner {
  color: aquamarine;
  font-size: 75px;
  align-self: center;
}

#gameReturn {
  align-self: center;
}
.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 90px;
  border: 1px solid white;
}

.cell {
  border: 2px white solid;
  color: white;
  font-size: 50px;
}

button {
  background-color: aquamarine;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
}

.turn {
  text-align: center;
  color: orange;
  margin-top: 10px;
}
